* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 20px;
  margin: 20px;
  height: 100vh;
}

.card {
  border: 1px solid rgba(126, 123, 123, 0.4);
  border-radius: 15px;
  padding: 20px;

  width: 350px;
  height: 420px;

  display: flex;
  flex-direction: column;
  position: relative;
}

.card-title {
  font-weight: bolder;
  font-size: 30px;
  color: #ffcc09;
}

.card-desc {
  color: rgba(0, 0, 0, 0.4);
  margin: 10px 0;
  font-size: 20px;
}

.link {
  color: #00000066;
  font-weight: bolder;
}

.link:hover {
  color: #ffcc09;
}

.image {
  position: absolute;
  bottom: 0;
  right: 0;
}
