@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,600,300);
* {
  line-height: 1.1rem;
}

.background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;

  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);

  overflow: hidden;
  background: #fff;
  color: #666666;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(208, 39%, 25%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  /* background-color: #fff; */
  width: 300px;
  height: 300px;
}

.notification-tab {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out;

  background-color: #fff;
  width: 300px;
}

.forward {
  transform: translate(-5%, -50%);
}

.nav-menu {
  background-color: rgb(67, 98, 125);
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;

  height: 270px;
  width: 170px;
}

.backward {
  transform: translateX(-5%);
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  padding: 0;
  /* margin-left: 15px; */

  width: 100%;
  height: 100%;
}

.nav-item {
  width: 100%;
  padding: 15px 20px;

  color: hsl(208, 37%, 69%);
  list-style-type: none;
  transition: all 500ms ease;
  cursor: pointer;
}

.nav-item:hover {
  color: #fff;
  background: hsl(208, 30%, 32%);
}

.nav_menu_icon {
  margin-right: 8px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 60px;
  width: 100%;

  background: hsl(209, 52%, 59%);
}

.nav-icon1 {
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding-right: 10px;
  cursor: pointer;
  z-index: 1;
}

.nav-icon1 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.line-top {
  width: 23px;
  height: 3px;

  border-radius: 3px;

  cursor: pointer;
  background-color: hsl(209, 100%, 85%);
}

.nav-circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;

  background-color: hsl(209, 100%, 85%);
}

.circle {
  height: 7px;
  width: 7px;

  border: 2px solid hsl(209, 52%, 59%);
  border-radius: 50%;

  position: absolute;
  top: 3px;
  left: -20px;

  background-color: #fff;
  box-shadow: 0 0 0 3px #fff;

  /* display: inline; */
}

.line-bottom {
  width: 30px;
  height: 3px;

  border-radius: 3px;
  margin-top: 0.5px;

  cursor: pointer;
  background-color: #b2daff;
}

.nav-icon2 {
  padding-left: 10px;
  font-size: 21px;

  color: #b2daff;
  cursor: pointer;
}

.nav-title {
  color: hsl(0, 0%, 100%);
  font-size: 15px;

  text-align: center;
}

.nav-search {
  width: 65%;
  border-radius: 30px;
  padding: 7px 15px;

  position: absolute;
  left: 30px;
  border: none;

  transform: translateX(-2%);
  transition: all 0.3s ease;

  opacity: 0%;
  cursor: default;
}

.display {
  opacity: 100%;
  transform: translateX(-5%);
  z-index: 2;
  cursor: text;
}

.notifications {
  padding: 5px 20px 10px 0px;
}

.notification {
  /* padding: 0 10px; */
  position: relative;
  margin-left: 41px;
  margin-top: 20px;
  cursor: pointer;
}

.notification:hover {
  color: hsl(209, 52%, 59%);
}

.line {
  position: absolute;
  top: 0;
  left: 25px;

  width: 3px;
  height: 100%;
  background: #ebebeb;
  z-index: -1;
}

.time {
  color: hsl(0, 0%, 40%);
  margin-bottom: 0px;
  font-size: 11px;
}

.desc {
  color: hsl(0, 0%, 40%);
  font-size: 15px;

  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
}

.desc span {
  font-weight: 600;
}
